# Node & React
node_modules/
**/node_modules/
dist/
**/dist/
.vite/
**/.vite/

# Java
target/
**/target/
*.class

# Storage
vaultflow_data/
**/vaultflow_data/

# IDE
.idea/
.vscode/

# Logs & Temp
*.log
.env
.env.local
.DS_Store
Thumbs.db